---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Philosophy from '../components/Philosophy.astro';
import WinePours from '../components/WinePours.astro';
import OurStory from '../components/OurStory.astro';
import FindUs from '../components/FindUs.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Philosophy />
    <WinePours />
    <OurStory />
    <FindUs />
  </main>
  <Footer />
</Layout>
